<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.sahdeepsingh.fluttervisualizers">

    <application>
        <!-- Add the following meta-data tag for Flutter embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>